<div class="card m-5">
    <div class="card-body">
        <h5>LISTAR TAREA</h5>
        <table class="table">
            <tr *ngFor="let tarea of listaTareas">
                <td>{{tarea.nombreTarea}}</td>
                <td>{{tarea.descripcionTarea}}</td>
                <td>{{tarea.fecha}}</td>
                <td>{{tarea.recordatorio}}</td>
                <td>
                    <i class="fa-solid fa-pen-to-square text-info"></i>
                </td>
                <td>
                    <i class="fa-solid fa-trash text-danger"></i>
                </td>
            </tr>
        </table>
    </div>
</div>